<footer>
    <div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright text-muted m-0">
                        @Document.GetString(WebKeys.Copyright) by JonDJones
                    </p>
                    <ul class="list-inline text-center small">
                        <li class="list-inline-item">
                            <a href="https://github.com/jondjones-poc/statiq-headless-dotnet-site">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/feed.rss"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</footer>