@model BlogViewModel

<div class="post-preview">
    <h2 class="post-title">@Model.Title</h2>

    <p class="post-meta">Published on @Model.Published</p>

    <p>
        @Model.Content
    </p>

</div>
